*, *:active, *:focus {
    outline: none !important;
}

button {
    border: none;
    outline: none;
    padding: 15px;
    
    height: 55px;
}
main, section {
    margin-top: 10px;
}
#row_buttons {
    display: inline-flex
}
input {
    width: 200px;
    border-bottom: 2px solid;
}

.toast-success {
    background-color: green;
    color: #fff;
}

.toast-error {
    background-color: red;
    color: #fff;
}

#extratos {
    max-height: 800px;
    background-color: rgb(250, 250, 250)
    
}